.container{
  background-color:aliceblue;
}
th{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
td{
  font-family: 'Times New Roman', Times, serif;
  font-size:medium;
}
button{
  margin-bottom:5px;
}
.pad{
  padding:5px;
}